.format {
  @apply flex items-center justify-between;
  span {
    @apply flex items-center justify-start rounded-md p-1;
    width: 240px;
    padding-right: 2rem;
    border: 1px solid;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;

    &:nth-last-child(2) {
      margin: 0.5rem;
    }

    &.active {
      @apply border-primary border-[1px] text-primary;
      img {
        filter: invert(19%) sepia(100%) saturate(2609%) hue-rotate(224deg)
          brightness(90%) contrast(96%);
      }
    }

    img {
      height: 3rem;
      margin-left: auto;
    }
  }
}

.table-container{
  border: 1px dashed rgb(210, 208, 208);

  .options {
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 10px;
  }

  .column-customization{
    td {
      padding: 8px;
    }
    thead {
      @apply bg-slate-100;
    }
  
    tbody{
      tr {
        border-bottom: 1px solid rgb(225, 223, 223);
      }

      button {
        background: var(--blue-4);
        padding: 1px 10px;
        border-radius: 4px;
        color: var(--blue-10);

        &:hover {
          background: var(--blue-9);
          color: var(--blue-1);
        }

      }
    }

    .pagination {
      display: flex;
      justify-content: space-between;
      .info {

      }

      .navigation {
        display: flex;
        justify-content:space-around;
        align-items: center;
        .right-carrot {
          padding: 6px;
        }
      }
    }
  }
}

