.upload {
  img {
    filter: invert(19%) sepia(100%) saturate(2609%) hue-rotate(224deg)
      brightness(90%) contrast(96%);
  }
}

.format {
  @apply flex items-center justify-between;
  span {
    @apply flex items-center justify-start rounded-md p-1;
    width: 240px;
    padding-right: 2rem;
    border: 1px solid;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;

    &:nth-last-child(2) {
      margin: 0.5rem;
    }

    &.active {
      @apply border-border-g2 bg-interactive-2 border-[1px] text-text-1;
      img {
        filter: invert(19%) sepia(100%) saturate(2609%) hue-rotate(224deg)
          brightness(90%) contrast(96%);
      }
    }

    img {
      height: 3rem;
      margin-left: auto;
    }
  }
}

.table-container {
  border: 1px dashed rgb(210, 208, 208);

  .options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }

  .column-customization {
    td {
      padding: 8px;
    }
    thead {
      @apply bg-slate-100;
    }

    tbody {
      tr {
        border-bottom: 1px solid rgb(225, 223, 223);
      }

      button {
        background: var(--blue-4);
        padding: 1px 10px;
        border-radius: 4px;
        color: var(--blue-10);

        &:hover {
          background: var(--blue-9);
          color: var(--blue-1);
        }
      }
    }

    .pagination {
      display: flex;
      justify-content: space-between;
      .info {
      }

      .navigation {
        display: flex;
        justify-content: space-around;
        align-items: center;
        .right-carrot {
          padding: 6px;
        }
      }
    }
  }
}

// .btn-backdrop {
  // width: 100%;
  // background: linear-gradient(
  //   45deg,
  //   var(--blue-6),
  //   var(--blue-7),
  //   var(--blue-8),
  //   var(--blue-9),
  //   var(--blue-10),

  // );
  // content: '';
  // // background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  // position: absolute;
  // top: -2px;
  // left: -2px;
  // background-size: 400%;
  // z-index: -1;
  // filter: blur(5px);
  // // width: calc(100% + 4px);
  // // height: calc(100% + 4px);
  // animation: glowing 20s linear infinite;
  // opacity: 1;
  // transition: opacity 0.3s ease-in-out;
  // border-radius: 10px;
  // padding: 2px;
  // width: fit-content;

//   .convert {
//     @apply flex justify-center items-center w-[120px] h-[40px] rounded-lg border-[1px] bg-solid-1 bg-transparent;
//     z-index: 100;
//     &:hover {
//       background: #000;
//     }
//   }
// }

.convert {

  width: 150px;
  height: 40px;
  border: none;
  outline: none;
  color: var(--blue-12);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  background: var(--gray-5);

  &::before {
    content: '';
    background: linear-gradient(45deg, 
    var(--blue-5),
    var(--blue-6),
    var(--blue-7),
    var(--blue-8),
    var(--blue-9),
    var(--blue-10),
    );
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 1;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
  }

  &:active {
    color: #FFFFFF;

  }

  &:active:after {
    background: transparent !important;
  }

  &:hover:before{
    opacity: 1;
  }

  &:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
