@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/base";
@import url("./styles/base/variables.scss");

#root {
  width: 100%;
  height: calc(100vh - 40px);
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
}

html {
   font-family: Inter !important;
  font-weight:100;
}
