@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/base";
@import url('./styles/base/variables.scss');


#root {
    width: 100%;
    height: calc(100vh - 40px);
}

html {
    background-color: #E5E7EB;
    font-family: Roboto;
}

